.tasks-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	list-style-type: none;
	background-color: #efefef;
	width: 22%;
	height: fit-content;
	padding-top: 40px;
	padding-left: 0;
	border-radius: 15px;
	overflow: auto;
	max-height: 61vh;
}

.task {
	border: 3px solid lightblue;
	padding: 5px;
	border-radius: 15px;
	background-color: lightblue;
	padding: 10px;
	min-width: 80%;
	margin-bottom: 20px;
}

.task__header {
	font-size: 35px;
	padding-bottom: 15px;
}

.task__discription {
	text-align: left;
	font-size: 20px;
}